*{
    box-sizing: border-box;
}


html, body {
    height: auto;
    padding: 0;
    margin: 0;    
}


body{
    background-image: url(./Resources/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    position: relative;
}
