.createEvent-main{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: auto;
    margin-top: 1rem;


    h1{
        font-size: 65px;
        padding: 1rem;
        text-shadow: 0px 1px 8px rgba(150, 150, 150, 1);
        margin: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 500px;
        border: 1px solid black;
        -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.76); 
        box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.76);  
        border-radius: 5px;
        background-color: #ffffff;
        margin: 2rem;

        .newEvent-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;

                label{
                    margin-bottom: 5px;
                    font-size: 18px;
                }

                input{
                    padding: 5px;
                    width: 300px;
                    font-size: 15px;
                }              

             .errorMessage{
                 color: red;
                 margin: 0;
             }   
        }
        button{
            cursor: pointer;
            width: auto;
            height: auto;
            border: none;
            background-color: transparent;
            padding: 1rem;
                .save{
                    width: 90px;
                    height: 50px;
                    transition: 0.4s;
                }

                .save:hover{
                    width: 90px;
                    height: 60px;
                }
        }
    }

  
}