.display-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    justify-items: center;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
    background-color: rgb(253, 252, 252);
    color: black;
    border-radius: 10px;
    padding: 1rem;
    row-gap: 2rem;
}

.notFound-container{
    h1{
        text-align: center;
    }
}