.events-Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .eventsOptions-container{
        width: 80%;
        min-width: 200px;
        margin-top: 2rem;

        h1{
            font-size: 77px;
            text-align: center;
            color: rgb(0, 0, 0);
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .createEvent-btn {
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 5px;
            background-color: rgba(7, 7, 7, 0.555);
            color: white;
            font-size: 22px;
            font-weight: 600;
            margin: 1rem;
            text-decoration: none;
        }

        .createEvent-btn:hover{
            background-color: #0db0eba2;
            transition: 0.5s;        
        }

        .options-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 1rem;
            align-items: center;
            margin: 1rem;
            gap: 10px;

            .eventsButtons-container{
                width: auto;
                height: auto;
                display: flex;
                margin-bottom: 1rem;
            }
        }
        nav{
            float: left;
        }
        
        nav ul{
            margin: 0;
        }
        
        nav ul li {
            float: left;
            font-size: 25px;
            list-style: none;
            cursor: pointer;
            padding: 0 1rem;
            height: 4rem;
            position: relative;
            color: rgb(83, 83, 83);
          }

          li::after{
            content: "";
            position: absolute;
            background-color: rgba(10, 10, 10, 0.815);
            height: 10px;
            width: 0;
            left: 0;
            bottom: 0px;
            transition: 0.4s;
          }

          li:hover::after{
              width: 100%;
          }

          li:hover{
              color: rgb(0, 0, 0);
          }

   }
}