.events-Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .eventsOptions-container{
        width: 80%;
        min-width: 200px;
        h1{
            font-size: 60px;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .options-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 1rem;
            align-items: center;
        }
        nav{
            float: left;
        }
        
        nav ul{
            margin: 0;
        }
        
        nav ul li {
            float: left;
            font-size: 25px;
            list-style: none;
            cursor: pointer;
            padding: 0 1rem;
            height: 4rem;
            position: relative;
            color: rgb(83, 83, 83);
          }

          li::after{
            content: "";
            position: absolute;
            background-color: rgba(10, 10, 10, 0.815);
            height: 10px;
            width: 0;
            left: 0;
            bottom: 0px;
            transition: 0.4s;
          }

          li:hover::after{
              width: 100%;
          }

          li:hover{
              color: rgb(0, 0, 0);
          }

          hr{
              margin-top: 0;
          }
   }
}