input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    input{
        padding: 10px 5rem;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid #00000063;
        outline: none;
        background-image: url(../../resources/img/dumbell.png);
        background-repeat: no-repeat;
        background-position:center;
        background-position-x: 21rem;
        text-align: center;
    }

}